{% extends "index.html" %}
{% block head %}

{{ super() }}


{% endblock %}
{% block jumbotron%}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-4 col-md-offset-5">
			<p>Contact's App</p>
		</div>
	</div>
	<div class="row">

		<ul class="nav nav-tabs">
			<div class="col-md-4 col-md-offset-3">
				{% block highlightcontacts%}
				<li role="presentation" class="active"><a href="{{url_for('contacts_page')}}">Contacts</a></li>
				{% endblock %}
			</div>
			<div class="col-md-4">
				{% block highlightmessages%}
				<li role="presentation"><a href="{{url_for('messages_page')}}">Messages</a></li>
				{% endblock %}
			</div>

		</ul>
	</div>


</div>

{% endblock %}


{% block content %}
<p>ON MESSAGES PAGE</p>

<ul>
{% for message in message_list %}
<li>{{ message.name}} {{ message.time }} {{message.message}}</li>
{% endfor %}
</ul>


{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}